#main{
  flex: 4;
}

#side{
  flex: 1.5;
  display: flex;
}


.item-list{
  height: 50%;
}


@media screen and (max-width: 1200px){
  #side{
    display: none !important;
  }
 }


 :host ::ng-deep .fc-header-toolbar {
  display: flex;
  flex-wrap: wrap;
}
