<div class="flex flex-column pt-2 px-2 h-full">
  <app-info-toolbar
    [imageUrl]="profileSrvc.user.imageUrl"
    [title]="profileSrvc.user.fullName"
    [isLoading]="isLoading"
  >
    <div class="flex align-items-center text-500 text-xs font-light">
      <i class="pi pi-star-fill mr-1 text-yellow-500"></i>
      <span>{{ profileSrvc.user.roles[0]?.name }}</span>
    </div>
  </app-info-toolbar>
  <app-stepper-menu-ctn
    [selectBtns]="selectBtns"
    [selectedBtn]="selectedBtn"
    [isProgressive]="false"
    (onSelectBtn)="onSelectBtn($event)"
    class="h-full overflow-hidden"
  >
    <div [hidden]="selectedBtn !== 'my-profile'">
      <app-my-profile
        [emails]="profileSrvc.user.emails"
        [phoneNumbers]="profileSrvc.user.phoneNumbers"
        [firstName]="profileSrvc.user.firstName"
        [lastName]="profileSrvc.user.lastName"
      ></app-my-profile>
    </div>

    <div [hidden]="selectedBtn !== 'change-password'">
      <app-change-password></app-change-password>
    </div>

    <div [hidden]="selectedBtn !== 'alerts-notifications'">
      <app-alerts-notifications></app-alerts-notifications>
    </div>
  </app-stepper-menu-ctn>
</div>
