<div
  *ngIf="title"
  class="font-bold mb-2 flex align-items-center justify-content-between"
>
  <div>{{ title }}</div>
  <ng-content></ng-content>
</div>
<div
  class="ctn flex flex-column bg-white border-1 border-gray-100 border-round overflow-hidden"
>
  <div
    class="flex align-items-center justify-content-between pr-4 pl-4 pt-5 pb-5"
    *ngIf="searchable || filterable"
  >
    <div *ngIf="searchable" class="searchbar mr-3">
      <span class="p-input-icon-left p-input-icon-right vn-search w-full">
        <i class="pi pi-search text-gray-50"></i>
        <input
          class="border-round border-surface-100 w-full"
          type="text"
          pInputText
          [placeholder]="searchPlaceholder"
          [(ngModel)]="searchTerm"
          (keyup)="onSearch($event)"
          (keydown)="onSearch($event)"
          [disabled]="isLoading"
        />
        <i *ngIf="this.searchTerm" class="cursor-pointer pi pi-times text-gray-50" (click)="searchTerm = ''; onSearch()"></i>
      </span>
    </div>
    <div *ngIf="filterable" class="filter">
      <p-dropdown
        [options]="filterOptions"
        [showClear]="true"
        [filter]="true"
        optionLabel="name"
        optionValue="id"
        [placeholder]="filterPlaceholder"
        (onChange)="onFilter($event)"
        (onClear)="onFilter($event)"
        styleClass="w-full"
        appendTo="body"
        [disabled]="isLoading"
      ></p-dropdown>
    </div>
  </div>
  <div
    *ngIf="sortable && items.length > 1"
    (click)="onSort()"
    class="font-bold pr-4 pl-4 pb-2 underline cursor-pointer"
  >
    {{ sortType !== "desc" ? "SORT BY MAX TO MIN" : "SORT BY MIN TO MAX" }}
  </div>

  <div class="overflow-y-auto" (scroll)="onScroll($event)">
    <div *ngFor="let item of items">
      <ng-container
        *ngTemplateOutlet="
          itemTemp;
          context: { item: item, loading: isLoading }
        "
      ></ng-container>
    </div>

    <div *ngFor="let item of isLoading ? [0, 0, 0, 0, 0, 0, 0] : []">
      <ng-container
        *ngTemplateOutlet="
          itemTemp;
          context: { item: item, loading: isLoading }
        "
      ></ng-container>
    </div>
  </div>
  <div *ngIf="!isLoading && !items.length" class="m-auto p-4">No items.</div>
</div>
