<p-toolbar styleClass="p-0 pt-4 px-3 pb-3">
  <div class="w-full flex flex-column">
    <div class="flex align-items-center justify-content-between flex-wrap">
      <div>
        <div class="header-title flex align-items-center text-blue-600 font-semibold text-2xl">
          <img src="assets/images/logo.png" class="mr-5" height="44px" /> <span class="text-700 mr-2"> Hello </span>  <span> {{ credentialsSrvc.credentials?.firstName | titlecase }} {{credentialsSrvc.credentials?.lastName}}</span>
        </div>
      </div>
      <div class="flex align-items-center flex-1 justify-content-end">
        <p-avatar
          pRipple
          styleClass="vn-avatar {{router.isActive('/profile',true) ? 'active-avatar' : ''}}"
          [image]="
            credentialsSrvc.credentials?.imageUrl || 'assets/images/avatar-placeholder.png'
          "
          [shape]="'circle'"
          size="large"
          (click)="menu.toggle($event)"
        ></p-avatar>
        <p-menu
          #menu
          styleClass="profile-menu"
          [popup]="true"
          [model]="items"
        ></p-menu>
      </div>
    </div>
  </div>
</p-toolbar>


