<div class="flex flex-column h-full">
  <div class="flex align-items-center justify-content-between mb-4">
    <div class="text-xl font-bold">PASSWORD</div>
  </div>
  <div class="p-4 border-1 border-blue-100 border-round surface-200">
    <div class="flex align-items-center justify-content-between">
      <div >Current Password</div>
      <div class="flex flex-column">
        <div class="mb-2">****************</div>
        <div class="text-400 text-sm">Last changed 10d ago</div>
      </div>
      <button pButton type="button" label="Update Password" class="p-button-outlined" (click)="update()" ></button>
    </div>
  </div>
</div>
