<div class="flex flex-column h-full">
  <div class="flex align-items-center justify-content-between mb-4">
    <div class="text-xl font-bold">ALERTS & NOTIFICATIONS</div>
  </div>
  <div class="">
    <div
      class="flex align-items-center justify-content-between mb-3"
      *ngFor="let alert of alerts"
    >
      <div class="flex flex-column">
        <div class="mb-1">{{ alert.title }}</div>
        <div class="text-400 text-sm">{{ alert.description }}</div>
      </div>
      <div class="flex align-items-center justify-content-between">
        <span >{{ alert.value ? "Enabled" : "Disabled" }}</span>
        <p-inputSwitch class="ml-3" [(ngModel)]="alert.value"></p-inputSwitch>
      </div>
    </div>
  </div>
</div>
