<div
  class="flex flex-column bg-white w-full p-3 border-round border-blue-50 border-1 border-round"
>
  <div class="flex align-items-center">
    <div class="mr-4 ml-4 relative">
      <p-avatar
        *ngIf="!isLoading"
        styleClass="card-avatar"
        [image]="imageUrl || 'assets/images/avatar-placeholder.png'"
        [shape]="'circle'"
        size="xlarge"
      ></p-avatar>

      <div class="absolute" >
        <button pButton icon="pi pi-cloud-upload" class="p-button-rounded p-button-raised p-button-sm p-0 bg-white text-blue-400" (click)="openUploadDialog()" ></button>
      </div>

    </div>
    <div class="flex flex-column ml-3 mb-1 ">
      <ng-content></ng-content>
      <div class="text-3xl font-bold flex align-items-center mt-2 mb-2">
        {{ title }}
      </div>
    </div>
  </div>
</div>
