<div class="card mb-3">
  <div class="font-sm mb-3 font-bold {{required?'required':''}}">{{ title }}</div>
  <p-fileUpload
    #uploader
    [mode]="'advanced'"
    [chooseLabel]="'Choose file or drag here'"
    [chooseIcon]="''"
    [auto]="true"
    [maxFileSize]="5000000"
    [customUpload]="true"
    [disabled]="disabled"
    accept="image/*,.pdf"
    (uploadHandler)="myUploader($event.files)"
  >
    <ng-template pTemplate="content">
      <div class="text-center text-sm mb-3"><span class="text-400 text-sm">Format :</span> .PDF , .PNG , .JPG , .JPEG</div>
          <div *ngIf="uploadedFileUrl" class="flex align-items-center border-1 border-round border-blue-100 mx-3 mb-3 p-3">
            <img class="file-thumbnail" [src]="fileThumbnail" />
            <div class="mx-3 flex-1">
              <span>
                {{ uploadedFileUrl.split('/').pop() }}
              </span>
            </div>
            <button pButton type="button" class="p-button-text p-button-rounded p-button-danger" icon="pi pi-trash" (click)="clear($event)"></button>
          </div>
    </ng-template>
  </p-fileUpload>
</div>
