#side {
  flex: 1.1;
  border-right: 1px solid var(--blue-100);
  border-bottom: 1px solid var(--blue-100);
}

#main {
  flex: 3;
  padding-left: 1.6rem !important;
}

:host ::ng-deep {
  .p-selectbutton {
    display: flex;
    flex-direction: column;

    .p-button {
      padding: 1.5rem;
      color: var(--gray-100) !important;
      text-align: inherit;
      box-shadow: none;
    }

    .p-highlight {
      background-color: var(--blue-100) !important;
      color: var(--blue-400) !important;

      .p-button-icon-left {
        color: var(--blue-400) !important;
      }
    }
  }
  .p-button-icon-left {
    margin-right: 1rem !important;
    font-size: 20px;
    color: var(--gray-100) !important;
  }
}

.progress-bar-ctn{
  height: 12px;
}
.stepper-ctn{
  flex-direction: row ;
}

@media screen and (max-width: 900px){
  .stepper-ctn{
    flex-direction: column !important;
  }
  #side{
    height: auto !important;
    flex: unset !important;
  }
 }


