<div class="flex flex-column justify-content-between align-items-center px-4">
  <div class="field grid w-full mb-4" [formGroup]="form">
    <div class="col-12 p-0" *ngIf="type === 'phone'" formArrayName="phone">
      <label for="phone" class="mb-2 font-bold">Phone Number</label>
      <div class="flex">
        <app-countrycode-picker
          formControlName="0"
          class="mr-2"
        ></app-countrycode-picker>
        <input
          pInputText
          id="phone"
          type="tel"
          class="inputfield w-full vn-input border-round border-gray-100 mt-2"
          [placeholder]="'Enter phone number here'"
          formControlName="1"
        />
      </div>
    </div>

    <div class="col-12 p-0" *ngIf="type === 'email'">
      <label for="email" class="mb-2 font-bold">Email</label>
      <div class="flex">
        <input
          pInputText
          id="username"
          type="email"
          class="inputfield w-full vn-input border-round border-gray-100 mt-2"
          [placeholder]="'Enter email here'"
          formControlName="email"
        />
      </div>
    </div>
    <small class="text-400">Your {{ type.toLowerCase() }} must not be registered yet</small>
  </div>

  <button
    pButton
    type="button"
    label="SEND VERIFICATION"
    class="mb-4"
    [loading]="loading"
    [disabled]="loading"
    (click)="submit()"
  ></button>

  <button
    pButton
    type="button"
    label="CANCEL"
    class="p-button-text"
    [disabled]="loading"
    (click)="close()"
  ></button>
</div>
