<div class="select-item" >
  <div class="flex justify-content-between align-items-center p-4">
    <div class="flex flex-column">
      <div class="text-xl font-bold mb-2">{{ title }} <p-skeleton *ngIf="isLoading" width="50px" ></p-skeleton> </div>
      <div class="mb-2">{{ text }}  <p-skeleton *ngIf="isLoading" width="100px" ></p-skeleton>  </div>
      <ng-content></ng-content>
    </div>
    <p-radioButton *ngIf="isRadioBtn" [value]="key" [(ngModel)]="selected" [disabled]="isLoading" ></p-radioButton>
    <p-checkbox *ngIf="!isRadioBtn" [(ngModel)]="selected" [binary]="true"  [disabled]="isLoading" ></p-checkbox>

  </div>
</div>
