
body{
  margin: 0;
  font-family: 'lato', 'arial', sans-serif !important;
  --border-radius : 8px !important;
  --blue-0 : #FBFCFE;
}

.p-component{
  font-family: 'lato', 'arial', sans-serif !important;
}

.vn-btn {
  width: 220px;
}

.vn-letter {
  letter-spacing: 0.2em;
}

.p-toolbar{
  background-color: var(--blue-0) !important;
  border: none !important;
}

input::placeholder{
  color: var(--gray-50);
}

.p-avatar.p-avatar-lg{
  height: 44px !important;
  width: 44px !important;
}

.shadow-1{
  box-shadow: var(--shadow-box) !important;
}

.vn-card {
  box-shadow: var(--shadow-box);
  width: 322px;
}

.p-dialog .p-dialog-header{
  padding: 1.5rem 2.5rem !important;
}

.m-select{
  min-width: 180px;
  .p-multiselect-panel{
    left: -52px !important;
  }
}

.p-scrolltop-sticky{
  position: fixed !important;
}

.p-scrolltop-icon{
  font-size: 1rem !important;
}

.p-scrolltop{
  height: 2rem !important;
  width: 2rem !important;
}


.vn-input{
  height: 44px;
  border: 1px solid var(--gray-100) !important;
  .p-inputtext,.p-input-placeholder,.p-multiselect-label-container{
    margin: auto;
  }
}

.p-dialog-header-icons{
  button{
    background-color: var(--gray-100) !important;
    color: white !important;
  }
  .p-dialog-header-close-icon{
    font-size: small !important;
  }
}

.b-status{
  &#online{
    color: #18A740;
  }

  &#offline{
    color: gray;
  }

  text-transform: capitalize;
}


.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider{
  background-color: #18A740 !important;
}

.p-inline-message.p-inline-message-warn{
  background-color: rgba(223, 140, 39, 0.2) !important;
  color: #DF8C27 !important;
  padding: 16px !important;
  .p-inline-message-icon {
    color: #DF8C27 !important;
  }
}

.custom-calendar{
  button{
    background: transparent !important;
    border: 0 !important;
    color: black !important;
    width: unset !important;
  }
}
.custom-calendar-input{
  background: transparent !important;
  border: 0 !important;
  padding: 0 !important;
}

.p-datepicker-trigger{
  background-color: var(--blue-400) !important;
}


.ng-touched.ng-invalid,
.ng-touched.ng-invalid > *,
.ng-dirty.ng-invalid,
.ng-dirty.ng-invalid > *,
.p-inputwrapper.ng-touched.ng-invalid input,
.p-inputwrapper.ng-dirty.ng-invalid input,
app-file-uploader.ng-touched.ng-invalid .p-fileupload-buttonbar,
app-file-uploader.ng-touched.ng-invalid .p-fileupload-content
{
  border-color: #f44336 !important;
}


.required:after{
  content: ' *';
  color: red;
}


.multi-col-list{
  padding: 0 !important;
  list-style-type: none !important;
li{
  margin: 8px;
}
}

.p-menu.p-menu-overlay{
  box-shadow: 0px 8px 16px 2px rgb(97 97 97 / 10%) !important;
  border-radius: 12px;
  .p-menuitem-link:not(.p-disabled):hover{
    background-color: var(--blue-100) !important;
    border-radius: 8px;
  }
  .p-menuitem-icon , .p-menuitem-text{
    color: black !important;
  }
  .button-danger{
    .p-menuitem-icon , .p-menuitem-text{
      color: red !important;
    }
  }
  .p-menu-list{
    padding: 16px;
  }
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

:hover::-webkit-scrollbar-thumb {
  border-radius: var(--border-radius);
  background-color:  var(--blue-100);
}


.header-btns-lg{
  display: block;
}

.header-btns-sm{
  display: none;
}

.p-dialog{
  min-width: 400px !important;
}

.text-dropdown{
  max-width: 185px;
  .p-dropdown-trigger , .p-dropdown-label{
    color:var(--blue-400);
    font-weight: bold;
  }
}


.gap-3{
  gap: 16px;
}


  .date-ctn{
    min-width: 250px;
  }
